
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0%;
    width: 400%;

    animation: cambio 10s infinite;
    animation-timing-function: ease-in;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider Img{
    width: 50%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/* fuentes de google y para poner letras de color */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
}
body {
  background: -webkit-radial-gradient(#320e86, #0a0011);
}
footer{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
}

#particles-js{
  height: 100hv;
  width: 100%;
  position: fixed;
  z-index: -1;
}
 /*para poner texto*/


.container span {
  font-size: 120pt;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 30ms ease-in-out;
}
.container span::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(15px);
}
.container span::after {
  content: var(--l);
  position: absolute;
  height: 100%;
  width: 50px;
  top: 50%;
  left: 0;
  filter: blur(30px);
  transform: rotateX(50deg);
}
.container span:hover {
  filter: contrast(250%);
}
.container span:nth-child(1) {
  color: #00bef8;
}
.container span:nth-child(2) {
    color: #00bef8;
}
.container span:nth-child(3) {
    color: #00bef8;
}
.container span:nth-child(4) {
    color: #00bef8;
}
.container span:nth-child(5) {
    color: #00bef8;
}

.container span:nth-child(6) {
    color: #00bef8;
  }
  .container span:nth-child(7) {
    color: #00bef8;
  }
  .container span:nth-child(8) {
    color: #00bef8;
  }
  .container span:nth-child(9) {
    color: #00bef8;
  }
  .container span:nth-child(10) {
    color: #00bef8;
  }
  .container span:nth-child(11) {
    color: #00bef8;
  }
  .container span:nth-child(12) {
    color: #00bef8;
  }